.page-background {
    --background: linear-gradient(to right, #010111, #4a5fbd); /* Degradado de fondo */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-container {
    max-width: 400px; /* Ajusta según necesites */
    margin: auto; /* Centra el formulario */
    padding: 20px; /* Espaciado interno */
  }
  
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to right, #000000, #2E3192);
  }
  
  ion-label {
    color: white;
  }
  
  ion-input {
    color:white;
  }
  
  ion-button.btn-recuperar {
    --background: #FFC600;
    --color: black;
    margin-top: 20px;
  }
  